- repo: https://github.com/pre-commit/mirrors-eslint
  rev: "" # Use the sha / tag you want to point at
  hooks:
      - id: eslint
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
